<div class="weather" *ngIf="cityWeather">
	<div class="weather-1-day">
		<div class="day-title">Today</div>
		<div class="current-date"> {{cityWeather.forecast[0].date}}</div>

		<img [src]="img1" alt="weather-img" class="weather-img" />

		<div class="degrees">
			<span class="high-degrees">{{cityWeather.forecast[0].high}}&deg;</span>
			<sup class="low-degrees">/{{cityWeather.forecast[0].low}}&deg;F</sup>
			<span class="degrees-now">, {{cityWeather.condition.temp}} now</span>
		</div>
		<div class="weather-description">{{cityWeather.forecast[0].text}}</div>
	</div>

	<div class="weather-1-day">
		<div class="day-title">Tomorrow</div>
		<div class="current-date"> {{cityWeather.forecast[1].date}}</div>

		<img [src]="img2" alt="weather-img" class="weather-img" />

		<div class="degrees">
			<span class="high-degrees">{{cityWeather.forecast[1].high}}&deg; </span>
			<sup class="low-degrees">/{{cityWeather.forecast[1].low}}&deg;F</sup>
		</div>

		<div class="weather-description">{{cityWeather.forecast[1].text}}</div>
	</div>

	<div class="weather-1-day">
		<div class="day-title">Weather in 2 days</div>
		<div class="current-date">{{cityWeather.forecast[2].date}}</div>

		<img [src]="img3" alt="weather-img" class="weather-img" />

		<div class="degrees">
			<span class="high-degrees">{{cityWeather.forecast[2].high}}&deg;</span>
			<sup class="low-degrees">/{{cityWeather.forecast[2].low}}&deg;F</sup>
		</div>
		<div class="weather-description">{{cityWeather.forecast[2].text}}</div>
	</div>
</div>