.weather {
	text-align: center;
  margin-bottom: 2em;
}

.weather-1-day {
  width: 20%;
  height: 250px;
  padding: 20px;
  text-align: center;
  max-height: 250px;
  min-width: 120px;
  background-color: #ededed;
  border-radius: 2px;
  display: inline-block;
  box-shadow: 10px 10px 5px #888888;
  margin: 5px;
}

.day-title {
  color: #00afbe;
  font-size: 1.2em;
}

.container {
  position: relative;
}

.high-degrees {
  font-size: 35px;
  color: #1f384d;
}

.low-degrees {
  font-size: 24px;
  color: #999;
}

.degrees-now {
  color: #cd3e02;
}

.weather-description {
  color: #1f384d;
  font-size: 12px;
}

.weather-img {
  max-width: 100px;
  max-height: 100px;
  margin-top: 5px;
}