<h3>Check weather for the next 3 days</h3>
<div class="grid grid-pad">
  <div *ngFor="let cityMap of citiesMap" class="col-1-3">
    <div class="module city" [class.selected]="cityMap.city === selectedCityMap.city" (click)="checkWeather(cityMap)">
      <h4>{{cityMap.city | uppercase}}</h4>
    </div>
  </div>
</div>
<weather-details class="clearFloat displayBlock" [cityMap]="selectedCityMap"></weather-details>